<h3>Welcome
    {{#if user}}
        : {{user.first_name}} {{user.name}} / {{user.role}}
        <div id="userEmail">{{user.email}}</div>
        <div id="cartId">{{user.cart}}</div>
        <button id="cartButton" {{#if disable}} disabled {{/if}}>
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                <path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/>
            </svg>
        </button>
        <br>
        <br>
        <a href="/api/sessions/logout"><button>Logout</button></a>
    {{/if}}
</h3>

<h1>Products Home
    {{#unless user}}
        <a href="/register"><button>Sign Up</button></a>
        <a href="/login"><button>Login</button></a>
    {{/unless}}
</h1>

<div>
    <br>
    <table>
        <tr> 
            <th>ID</th>
            <th>Title</th>
            <th>Description</th> 
            <th>Price</th> 
            <th>Code</th> 
            <th>Stock</th> 
            <th>Category</th> 
            <th>Status</th>
        </tr>
        <tbody>
            {{#each products}}
                <tr>
                    <td>{{this._id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.stock}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.status}}</td>
                    <td>
                        <button data-product-id="{{this._id}}">Add to Cart</button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    
    {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}&limit={{limit}}&sort={{sort}}&query={{queryParam}}"><button>Prev</button></a>
    {{/if}}
    {{#if hasNextPage}}
    <a href="/?page={{nextPage}}&limit={{limit}}&sort={{sort}}&query={{queryParam}}"><button>Next</button></a>
    {{/if}}

    
    <p>Page 
        {{#if hasPrevPage}}
        <a href="/?page={{prevPage}}&limit={{limit}}&sort={{sort}}&query={{queryParam}}">{{prevPage}}</a>
        {{/if}}
        {{page}}
        {{#if hasNextPage}}
        <a href="/?page={{nextPage}}&limit={{limit}}&sort={{sort}}&query={{queryParam}}">{{nextPage}}</a>
        {{/if}}
    </p>

    {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}&limit={{limit}}&sort={{sort}}&query={{queryParam}}"><button>Prev</button></a>
    {{/if}}

</div>

<div>
    {{#if user}}
        <h1>Chat</h1>
            <input id="chatbox">
            <p id="messageLogs"></p>
    {{/if}}
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
